[flake8]
max-line-length = 99

# Не проверяем виртуальное окружение и сторонний код
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    build,
    dist,
    data

# Игнор для __init__.py
per-file-ignores =
    __init__.py:F401
